html, [class*="css"] {
    font-family: 'Poppins', sans-serif;
}

.css-18e3th9 {
    padding-top: 0;
    padding-bottom: 0;
}

.css-1v3fvcr, footer {
    visibility: hidden;
    height: 0;
}

.st-emotion-cache-12fmjuu {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 3.75rem;
    visibility: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    color: #0e0d0d;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.6em 0.8em;
    font-size: 1em;
    width: 100%;
    box-shadow: none;
    outline: none;
}

input:focus {
    border-color: #7a9f84;
    box-shadow: 0 0 5px rgba(90, 122, 100, 0.3);
}.forgot-password a {
    color: #007bff;
    text-decoration: none; 
    font-size: 0.9em;
}

.forgot-password a:hover {
    text-decoration: underline;
}

div.stButton > button {
    background-color: #7a9f84; /* Cor de fundo */
    color: rgb(72, 131, 155) !important; /* Força o texto a ser branco */
    border: none;
    padding: 0.6em 0.8em; /* Espaçamento interno */
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* O botão ocupa toda a largura */
    text-align: center; /* Centraliza o texto */
}

div.stButton > button:hover {
    background-color: #47664b; /* Cor de fundo no hover */
}

.divider {
    text-align: center;
    margin: 1em 0;
    font-size: 0.9em;
    color: #999;
}

.register {
    text-align: center;
    font-size: 0.9em;
    margin-top: 1em;
}

.register a {
    color: #007bff;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

.right-section {
    background-color: #7a9f84;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    border-radius: 0; /* Remove bordas arredondadas para ficar flush */
}