.css-18e3th9 {
    padding-top: 0;
    padding-bottom: 0;
}

.css-1v3fvcr, footer {
    visibility: hidden;
    height: 0;
}

.st-emotion-cache-12fmjuu {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 3.75rem;
    visibility: hidden;
}

h1 {
    font-size: 2.5em;
    color: #333;
    font-weight: bold;
}

.instruction {
    font-size: 1em;
    color: #000000;
    margin-bottom: 1.5em;
    font-weight: 300;
}

.code-inputs {
    display: flex;
    gap: 1em;
    margin-bottom: 1.5em;
}

.code-inputs input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.6em;
    font-size: 1.5em;
    text-align: center;
    width: 3em;
    box-shadow: none;
    outline: none;
}

div.stButton > button {
    background-color: #7a9f84;
    color: #fff !important;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    text-align: center;
}

div.stButton > button:hover {
    background-color: #47664b;
}

.right-section {
    background-color: #7a9f84;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

.st-cc {
    border-bottom-color: #000 ;
}

.st-cb {
    border-top-color: #000 ;
}

.st-ca {
    border-right-color: #000 ;
}

.st-c9 {
    border-left-color: #000 ;
}