.css-18e3th9 {
    padding-top: 0;
    padding-bottom: 0;
}

.css-1v3fvcr, footer {
    visibility: hidden;
    height: 0;
}

.st-emotion-cache-12fmjuu {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 3.75rem;
    visibility: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F6F9F8;
}

.cabecalho {
    text-align: left;
    font-size: 16px;
    color: #414141;
    left: 0;
    width: 100%;
}

.footer {
    background-color: #739072;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer p {
    color: white;
    text-align: center;
    line-height: 40px;
    margin: 0;
}

.title {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.question {
    font-size: 35px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.btn-finish {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-finish:hover {
    background-color: #45a049;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 25px 40px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

h1{
    color: #739072;
    margin-left: 240px;
    font-size: 50px;
}

h2{
    font-size: 25px;
    font-weight: 200;
}

p{
    font-size: 25px;
}

div.stButton > button{
    margin-left: 296px;
    background-color: #58775c;
    color: rgb(255, 255, 255);
    margin-top: 320px;
}

div.stButton > button:hover {
    background-color: #344937;
}

.st-cn {
    background-color: rgb(0, 0, 0);
}